@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class="main-content">
        <IbeAppWeb.Shared.Toast />
        <div class="top-row px-4 auth">
            <div class="d-flex justify-content-between align-items-center w-100" style="gap: 2rem;">
                <LoginDisplay />
@*                 <div style="margin: 0;">
                    <CultureSelector />
                </div>
 *@            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </div>
</div>

<style>
    .top-row .auth div p {
        margin: 0;
    }
</style>

