@page "/"
@using System.Globalization

<PageTitle>Home - ibeapp</PageTitle>

<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-4">Willkommen zur <strong>IbeWebApp</strong></h1>
        <p class="lead text-muted">App zur Verwaltung der Ibe-Projekte</p>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Arbeitsbericht</h5>
                    <p class="card-text">Hier geht es direkt zum Arbeitsbericht für ein ausgewähltes Projekt.</p>
                    <a href="/arbeitsscheine" class="btn btn-primary">Zum Arbeitsbericht</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Umsatz</h5>
                    <p class="card-text">Hier geht es direkt zum Umsatz für ein ausgewähltes Projekt.</p>
                    <a href="/umsatz" class="btn btn-primary">Manage Umsatz</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Monteur - Anlage</h5>
                    <p class="card-text">Verwalte die Zuweisung - Änderung der Monteure zu Anlagen.</p>
                    <a href="/monteuranlage" class="btn btn-primary">Manage Monteure - Anlagen</a>
                </div>
            </div>
        </div
    </div> 

    <footer class="text-center text-muted mt-5">
        &copy; @DateTime.Now.Year GT-informatik - Thomas Grobbauer. All rights reserved.
    </footer>
</div>