@page "/Test"
@using Syncfusion.Blazor.Grids

<SfGrid DataSource="@data" AllowPaging="true">
    <GridEvents TValue="TestData" QueryCellInfo="CustomizeCell" />
    <GridColumns>
        <GridColumn Field=@nameof(TestData.Name) HeaderText="Name"></GridColumn>
        <GridColumn Field=@nameof(TestData.Value) HeaderText="Value"></GridColumn>
    </GridColumns>
</SfGrid>
<Syncfusion.Blazor.Buttons.SfButton Content="Click Me" CssClass="e-primary" OnClick="TestCall"></Syncfusion.Blazor.Buttons.SfButton>
<style>
    .e-grid .e-rowcell.below-50 {
        background-color: orange !important;
    }
</style>
<AuthorizeView Roles="IbeUser">
    <Authorized>
        <h3>Welcome, Ibeuser!</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this content.</h3>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="IbeWebAdmin">
    <Authorized>
        <h3>Welcome, Admin!</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You are not authorized to view this content.</h3>
    </NotAuthorized>
</AuthorizeView>

@code {
    HttpClient httpClient = new HttpClient { BaseAddress = new Uri("https://localhost/api") };
    public class TestData
    {
        public string Name { get; set; }
        public int Value { get; set; }
    }
    void TestCall()
    {
        Console.WriteLine("Button clicked!");
        httpClient.GetAsync("api/authtest");
    }

    List<TestData> data = new()
    {
        new TestData { Name = "One", Value = 10 },
        new TestData { Name = "Two", Value = 20 },
        new TestData { Name = "Three", Value = 30 },
    };

    void CustomizeCell(QueryCellInfoEventArgs<TestData> args)
    {
        if (args.Column.Field == "Value" && args.Data.Value >= 20)
        {
            args.Cell.AddClass(new[] { "below-50" });
        }
    }
}
